<div class="container">

	<div class="form-column">

		<span>&nbsp;</span>

		<form class="form-box">
			<h2 class="fade-in">Register</h2>

			<span>&nbsp;</span>

			<form [formGroup]="regForm" (ngSubmit)="submitRegistration()">

				<div class="form reg-form">

          <!-- first name -->
          <label class="error-label" for="fname" *ngIf="submitted && f.fname.errors">
            First name is too short.
          </label>
					<div class="labeled-input text-input fade-in-up delay-0-1">
            <input 
              type="text" 
              formControlName="fname" 
              placeholder="First name" 
              name="fname"
              [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
            />
          </div>
          
          <!-- last name -->
          <label for="lname" *ngIf="submitted && f.lname.errors">
            Last name is too short.
          </label>
					<div class="labeled-input text-input fade-in-up delay-0-2">
            <input 
              type="text" 
              formControlName="lname" 
              placeholder="Last name" 
              name="lname"
              [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
            />
          </div>

          <!-- birthday/dob -->
          <label for="dateofbirth" *ngIf="submitted && f.dateofbirth.errors">
            Date of birth is too short.
          </label>
          <div class="labeled-input text-input fade-in-up delay-0-3">
            <input 
              type="text" 
              formControlName="dateofbirth" 
              placeholder="Birthday: yyyy-mm-dd" 
              name="dateofbirth"
              [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }"
            />
          </div>

          <!-- email -->
          <label for="email" *ngIf="submitted && f.email.errors">
            <span *ngIf="f.email.errors.required">Email is required.</span>
            &nbsp;
            <span *ngIf="f.email.errors.email">Email is invalid.</span>
          </label>
          <div class="labeled-input text-input fade-in-up delay-0-4">
            <input 
              type="email" 
              formControlName="email" 
              placeholder="Email" 
              name="username"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
          </div>

          <!-- password -->
          <label for="password" *ngIf="submitted && f.password.errors">
            Password is required.
          </label>
          <div class="labeled-input text-input fade-in-up delay-0-5">
            <input 
              type="password" 
              formControlName="password" 
              placeholder="Password" 
              name="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
          </div>

          <!-- invisible submit button -->
          <input type="submit" value="Login" (click)="submitRegistration()" style="display:none;"/>

				</div>
			</form>

			<!-- submit button -->
			<button class="solid transition-0-25 fade-in delay-0-6" (click)="submitRegistration()">Submit</button>

      <hr class="fade-in delay-0-7" />
      
      <!-- return to login page button -->
      <a routerLink="/accounts/login">
        <button class="small nofill transition-0-25 fade-in-up delay-0-8">
          Back
        </button>
      </a>



		</form>

    <span>&nbsp;</span>

	</div>

</div>