<div class="full-body-height">
<div *ngIf="!(+qparams.requested || +qparams.loaned)" class="detail-container flex flex-column scale-fontsize">
	
	<!-- item details -->
	<div *ngIf="item" class="detail-card ">
		<!-- <pre>{{item | json}}</pre> -->

		<!-- cover photo/gallery carousel -->
		<div *ngIf="item.image" class="item-img-container fade-in">
			<img [src]="item.image">
		</div>

		<!-- title card + user details -->
		<div class="title">
			<h2 class="title-header fade-in delay-0-2">{{item.name || 'Item name'}}</h2>
			<h5 class="item-user-name fade-in delay-0-3 pointer" (click)="navigateToOwnerProfile()">
				<svg><use href="assets/icons/navbar.svg#i-user"></use></svg>
				{{item.user.fullName || 'Anon'}}
			</h5>
			<hr class="fade-in delay-0-4" />
		</div>
		
		<!-- description -->
		<div class="desc-container fade-in delay-0-5">
			{{item.description}}
		</div>

		<!-- tags -->
		<div class="tags-container fade-in delay-0-5">
			<svg class="inline"><use href="assets/icons/navbar.svg#i-tag"></use></svg>&nbsp;
			{{item.tags || '-'}}
		</div>

		<!-- item age -->
		<div *ngIf="item.age" class="age-string fade-in delay-0-6">
			<svg class="inline"><use href="assets/icons/navbar.svg#i-clock"></use></svg>&nbsp;
			{{item.age}}
		</div>
		<!-- item view count -->
		<div *ngIf="item.age" class="age-string fade-in delay-0-6">
			<svg class="inline"><use href="assets/icons/navbar.svg#i-eye"></use></svg>&nbsp;
			{{item.total_hits}} {{item.total_hits>1 ? 'views' : 'view'}}. 
			{{item.hits_1week}} {{item.hits_1week>1 ? 'views' : 'view'}} this week.
		</div>

		<!-- show if item has been loaned out -->
		<div *ngIf="item.loan" class="desc-container fade-in delay-0-7">
			<svg class="inline"><use href="assets/icons/navbar.svg#i-heart"></use></svg>&nbsp;
			<i>Item loaned out {{item.loan.age}}. Due <strong>{{item.loan.timeToDue}}</strong></i>
		</div>


		<!-- controls -->
		<div class="item-controls-container flex fade-in-up delay-0-8" id="CONTROLS">

			<!-- if this item belongs to the currentUser, display additional controls -->
			<ng-container *ngIf="item.user.id == currentUser.id else notYou">
				<!-- edit item -->
				<div class="action-btn gradient-1-stop-2 tooltip" title="Edit Item" 
					(click)="navigateToEdit()"
					tooltip="Edit item" tooltip-position="bottom">
					<svg><use href="assets/icons/navbar.svg#i-edit"></use></svg>
				</div>
				<!-- delete item -->
				<div class="action-btn gradient-0-stop-1" title="Delete Item" 
					(click)="deleteItem()"
					tooltip="Delete item" tooltip-position="bottom">
					<svg><use href="assets/icons/navbar.svg#i-trash"></use></svg>
				</div>
			</ng-container>

			<!-- only display these controls if NOT the current user -->
			<ng-template #notYou>
				<!-- request -->
				<div class="action-btn gradient-0-stop-0 tooltip" title="Request Item" 
					*ngIf="!item.loan" (click)="requestItem()"
					tooltip="Request item" tooltip-position="bottom">
					<svg><use href="assets/icons/navbar.svg#i-heart"></use></svg>
				</div>
				<!-- message owner -->
				<!-- <div class="action-btn gradient-0-stop-2" title="Message Owner"
					tooltip="Message owner" tooltip-position="bottom">
					<svg><use href="assets/icons/navbar.svg#i-mail"></use></svg>
				</div> -->
			</ng-template>
			

			<!-- user PUBLIC profile -->
			<div class="action-btn gradient-1-stop-0" title="Owner profile" 
				(click)="navigateToOwnerProfile()"
				tooltip="View owner profile" tooltip-position="bottom">
				<svg><use href="assets/icons/navbar.svg#i-user"></use></svg>
			</div>

			<!-- link -->
			<!-- <div class="action-btn gradient-1-stop-1" title="Get link to item"
				tooltip="Get shareable link" tooltip-position="bottom">
				<svg><use href="assets/icons/navbar.svg#i-link"></use></svg>
			</div> -->

		</div>


		<!-- incoming item requests -->
		<div *ngIf="item.requests" class="fade-in-up delay-0-9">
			<!-- <hr class="short-divider fade-in delay-0-9" /> -->

			<ng-container *ngFor="let req of item.requests; let i=index">
				<!-- show only pending requests -->
				<ng-container *ngIf="req.request_status == 'pending' || req.request_status==null">
					<app-item-request-card 
						[request]="req"
						[cardOptions]="{outgoing:false}"
						(remove)="removeRequest(i)"
						class="request-card">
					</app-item-request-card>
				</ng-container>
			</ng-container>

		</div>


	</div>

	<!-- no item loaded error -->
	<div *ngIf="!item">no item loaded</div>

</div>





<!-- item successfully requested/loaned splash -->
<div *ngIf="+qparams.requested || +qparams.loaned" class="requested-splash full-body-height gradient-0">
	<div class="form-column scale-fontsize">
		<div>&nbsp;</div>

		<!-- requested -->
		<ng-container *ngIf="+qparams.requested">
			<!-- animated send svg -->
			<svg id="SEND" class="animated-svg"><use href="assets/icons/navbar.svg#i-send"></use></svg>
			<div>
				<h2 class="fade-in-up delay-0-2">Request sent!</h2>
				<p class="fade-in-up delay-0-4">
					You've successfully requested <strong>{{item ? item.name : 'this item'}}</strong>. <br>
					You'll receive a notification when the owner makes a decision.
				</p>
			</div>
			<div class="control-container fade-in-up delay-0-6">
				<button class="nofill" (click)="returnToItemDetails()">Back to Item</button>
				<a routerLink="/"><button class="nofill">Home</button></a>
			</div>
		</ng-container>


		<!-- loaned -->
		<ng-container *ngIf="+qparams.loaned">
			<svg id="HEART" class="animated-svg"><use href="assets/icons/navbar.svg#i-heart"></use></svg>
			<div>
				<h2 class="fade-in-up delay-0-2">Item Loaned Out!</h2>
				<p class="fade-in-up delay-0-4">
					You've successfully loaned out <strong>{{item ? item.name : 'this item'}}</strong>!
				</p>
			</div>
			<div class="control-container fade-in-up delay-0-6">
				<button class="nofill" (click)="returnToItemDetails(true)">Back to Item</button>
				<a routerLink="/"><button class="nofill">Home</button></a>
			</div>
		</ng-container>


		<div>&nbsp;</div>
	</div>
</div>
</div>



<!-- <router-outlet></router-outlet> -->