<div *ngIf="!(+qparams.requested)" class="detail-container flex flex-column full-body-height">
	
	<!-- item details -->
	<div *ngIf="item" class="detail-card scale-fontsize">
		<!-- <pre>{{item | json}}</pre> -->

		<!-- cover photo/gallery carousel -->
		<div>
			carousel
		</div>

		<!-- title card + user details -->
		<div class="title">
			<h2 class="title-header">{{item.name || 'Item name'}}</h2>
			<h5 class="item-user-name">
				<svg><use href="assets/icons/navbar.svg#i-user"></use></svg>
				{{item.user.fullName || 'Anon'}}
			</h5>
			<hr />
		</div>
		
		<!-- description -->
		<div class="desc-container">
			{{item.description}}
		</div>

		<!-- tags -->
		<div class="tags-container">
			{{item.tags || '#tags appear here'}}
		</div>



		<!-- controls -->
		<div class="item-controls-container flex" id="CONTROLS">

			<!-- request/heart -->
			<div class="action-btn" title="Request Item" (click)="requestItem()">
				<svg><use href="assets/icons/navbar.svg#i-heart"></use></svg>
			</div>

			<!-- favorite -->
			<!-- <div class="action-btn" title="Add to Favorites">
				<svg><use href="assets/icons/navbar.svg#i-star"></use></svg>
			</div> -->

			<!-- message owner -->
			<div class="action-btn" title="Message Owner">
				<svg><use href="assets/icons/navbar.svg#i-mail"></use></svg>
			</div>

			<!-- user profile -->
			<div class="action-btn" title="Owner profile">
				<svg><use href="assets/icons/navbar.svg#i-user"></use></svg>
			</div>

			<!-- link -->
			<div class="action-btn" title="Get link">
				<svg><use href="assets/icons/navbar.svg#i-link"></use></svg>
			</div>

		</div>

	</div>

	<!-- no item loaded error -->
	<div *ngIf="!item">no item loaded</div>

</div>





<!-- item successfully requested splash -->
<div *ngIf="+qparams.requested" class="requested-splash full-body-height gradient-0">
	<div class="form-column scale-fontsize">
		<div>&nbsp;</div>

		<!-- animated send svg -->
		<svg id="SEND" class="animated-svg"><use href="assets/icons/navbar.svg#i-send"></use></svg>
		<div>
			<h2>Request sent!</h2>
			<p>
				You've successfully requested {{item ? item.name : 'this item'}}. <br>
				You'll receive a notification when the owner makes a decision.
			</p>
		</div>
		<div class="control-container">
			<button class="nofill" (click)="returnToItemDetails()">Back to Item</button>
			<a routerLink="/"><button class="nofill">Home</button></a>
		</div>

		<div>&nbsp;</div>
	</div>
</div>