/* searchbar & container */
.search-bg {
	padding: 1em;
	font-size: 2.5em;
}
.search-bg:not(.full-body-height){ min-height: 0; }
.searchbar-container {
	height: 100%;
	margin: 0;
	font-size: inherit;
	border-bottom: 1px solid #bbb;

	display: grid;
	grid-template-columns: 1em auto;
}
.searchbar-container svg {
	grid-column: 1;
	width: 100%;
	height: 100%;
}
.searchbar-container:focus-within {
	border-bottom: 1px solid #fff;
}
.searchbar {
	grid-column: 2;
	background: none;
	border: none;
	width: 100%;
	padding: 0.35em 0.5em;

	font-size: inherit;
	font-weight: 300;
}



/***** search results *****/
.result-grid {
	margin: 0;
	padding: 1em;
}
.result-tabs-container {
	padding: 1em 20%;
	display: flex;
	justify-content: space-around;
}
.result-tabs-container > .tab {
	font-size: 1.5em;
	flex-grow: 1;
	text-align: center;
	cursor: pointer;

	margin: 0 1em;
	padding: 0.25em 0;
}
.result-tabs-container > .tab:hover {
	border-bottom: 1px solid #f27121;
}
.result-tabs-container > .tab.tab-selected {
	font-weight: 600;
	border-bottom: 3px solid #f27121;
}

.result-content-container {
	margin: 1em;
}
.result-content-container h3 {
	font-size: 1.75em;
	margin: 0.5em;
	font-weight: 400;
}

.result-block {
	margin-bottom: 1.5em;
}

.card-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	margin: 0.5em 0.25em;
}