div.bg {
	/* height: 100vh; */
	/* min-height: calc(100vh - 3em); */
	width: 100%;
	margin: 0;
	padding: 0;

	color: #fff;
	background: #8a2387; /* fallback for old browsers */
	background: -webkit-linear-gradient(135deg, #8a2387, #e94057, #f27121); 
	background: linear-gradient(135deg, #8a2387, #e94057, #f27121);
	
	align-content: center;
	overflow: hidden;
}

div.container {
	height: 100%;
	min-height: calc(100vh - 3em);
	width: 100%;
	margin: 0;
	padding: 0;
	
	align-content: center;
	overflow: hidden;
}


.form-column {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	height: 100%;
	min-height: inherit;
	/* padding: 25vh 0; */
}

.form {
	width: 256px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.text-input label { 
	width: 100%;
	color: #f0f0f0;
	font-size: 1.5em;
}
.text-input input { 
	width: 100%;
	background-color: transparent;
	height: 2em;
	padding: 1.25em 0.5em;
	margin: 0.5em 0;

	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 1.5em;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	transition: all 0.25s ease-in-out;
}
.text-input input::placeholder {
	color: #f7b4bb;			/* monochromatic color! */
	opacity: 1;
}
.text-input input:focus {
	box-shadow: 0 0 5px 1px #fff;
}
input.is-invalid {
	border: 1px solid #e3d53e !important;
	box-shadow: 0 0 7px 2px #e3d53e !important;
}

.labeled-input.text-input input {
	margin: 0 0 0.5em 0;
}
label { text-align: left; }
label.error-label { color: #e3d53e; }

.form-column button {
	padding: 0.5em 1em;
	margin: 0.25em 0;
	min-width: 8em;
	border-radius: 0.25em;
	cursor: pointer;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
}
.form-column button.small {
	font-size: 1em;
}

button.solid {
	border: 1px solid #fff;
	background: #fff;
	color: #e94057;
}
button.solid:hover {
	box-shadow: 0 0 10px 2px #fff;
	background: #fff;
}

button.nofill {
	border: 1px solid #fff;
	color: #fff;
	background: none;
}
button.nofill:hover {
	background: #fff;
	color: #e94057;
}

button svg {
	height: 1em;
	width: 1em;
	stroke-width: 2;
}


/*****************************************************
**** FONTS
******************************************************/
h2 {
	font-weight: 300;
}
hr {
	height: 1px;
	border: 0;
	background: #fff;
	margin: 1em 0;
}