<div class="bg">

	<div class="form-column">

		<span>&nbsp;</span>

		<form class="form-box">
			<h2>Login</h2>

			<!-- 3rd party -->
			<span>&nbsp;</span>

			<!-- <hr /> -->

			<form (ngSubmit)="submitLogin()">

				<div class="form fade-in delay-0-2">

					<div class="labeled-input fade-in-up delay-0-4">
						<!-- <label>Username</label> -->
						<input type="text" [(ngModel)]="username" placeholder="Email" name="username"/>
					</div>

					<div class="labeled-input fade-in-up delay-0-6">
						<!-- <label>Password</label> -->
						<input type="password" [(ngModel)]="password" placeholder="Password" name="password"/>
					</div>

					<!-- login button -->
					<button type="submit" class="solid transition-0-25 fade-in delay-0-8" (click)="submitLogin()">Login</button>

					<!-- <div style="height: 2em">
						<p *ngIf="inProgress">Authenticating...</p>
						<ng-container *ngIf="failureReason!=undefined">
							<p *ngIf="failureReason==401">Your username or password was incorrect. Please try again.</p>
							<p *ngIf="failureReason==403">You'll need to request access permission.</p>
							<p *ngIf="failureReason==0">Could not establish connection with the Elasticsearch server. Please make sure you are connected to the Intel network.</p>
						</ng-container>
					</div> -->

				</div>
			</form>



		</form>

		<span>&nbsp;</span>

	</div>

</div>