<h3>444Chan by BoLend</h3>
<p>
  Hi <%= @recipientUser.fname.capitalize %>,
  <%= @senderUser.fname.capitalize%> has approved your borrow request for <%= @item.name %>.
  <br><br>
  Click on the link below to see:
  <br>
  <p><%= link_to 'See The Loan', ENV["PRODUCTION_HOST"]+"/app/notifications" %></p>
</p>