<h3>444Chan by BoLend</h3>
<p>
  Hi <%= @recipientUser.fname.capitalize %>,
  <%= @senderUser.fname.capitalize%> needs his <%= @item.name.capitalize %> back!. It was supposed to be returned 2 days ago. Kindly return this item. 
  <br><br>
  	If you have returned this item, please contact the owner to acknowledge the return.
  <br>
  <p><%= link_to 'Login Into Application', ENV["PRODUCTION_HOST"]+"/app" %></p>
</p>