<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" author="Sarosh">
	<title>SignUp</title>
</head>
<body>

	<h1>NEW USER SIGN UP</h1>

	<!-- form for user to fill in SIGN UP info -->
	<% form_for @user do |f| %>
	

	<% end %>


	<p>
		<%= link_to '<button type="button">Home</button>'.html_safe, root_path %>
	</p>

</body>


</html>