<!DOCTYPE html>
<html>
<head>
	<title>SIGN-UP</title>
</head>
<body>

	<h1>NEW USER SIGN UP</h1>

	<p>
		<%= link_to '<button type="button">Home</button>'.html_safe, root_path %>
	</p>

</body>


</html>