<div class="explore-results-container">
	
	<ng-container *ngIf="hashtags else noHashtags">
		<div class="tags-container scale-fontsize flex">
			<ng-container *ngFor="let hashtag of hashtags; let i=index">
				<div class="hashtag round pointer trans-0-25" 
					[ngClass]="{'hashtag-selected': i==tagIndexSelected}"
					(click)="tagIndexSelected=i">
					#{{hashtag.name}}
				</div>
			</ng-container>
		</div>

		<app-explore-results [items]="hashtags[tagIndexSelected].items">

		</app-explore-results>
	</ng-container>

	<ng-template #noHashtags>
		Loading hashtags...
	</ng-template>
</div>