<div class="container">
	<div class="form-column">
		<span>&nbsp;</span>
		<h2 class="fade-in">Post New Item</h2>

		<div class="flex new-item-form">

			<div style="margin: 1em 0;">
				<app-item-card [item]="{
					name: f.name.value,
					description: f.description.value,
					imgSrc: imgSrc
				}" [cardOptions]="itemCardOptions"></app-item-card>
			</div>

			<form [formGroup]="itemForm" (ngSubmit)="submitItem()" class="item-form">

				<!-- item name -->
				<label for="name">Item Name</label>
				<input type="text" formControlName="name" name="item-name" 
					[ngClass]="{'is-invalid': submitted && f.name.errors}"
					placeholder="Item name"
					class="text-input" 
				/> 

				<!-- item description -->
				<label for="description">Description</label><br>
				<textarea rows="4" formControlName="description" placeholder="Item description"
					[ngClass]="{'is-invalid': submitted && f.name.errors}">
				</textarea>
					

				<!-- item tags -->
				<!-- <label for="tags"></label>
				<input type="text" formControlName="tags" name="tags"> -->

				<!-- item image(s) -->
				<input #imageInput
					type="file"
					accept="image/*"
					(change)="processFile(imageInput)">

				<input type="submit" value="Submit" class="submit-btn">

			</form>

		</div>
			

		<span>&nbsp;</span>
	</div>
</div>