<div class="container">
	<div class="form-column">
		<span>&nbsp;</span>

		<div class="flex new-item-form">

			<app-item-card [item]="item"></app-item-card>

			<form [formGroup]="itemForm" (ngSubmit)="submitItem()" class="item-form">

				<!-- item name -->
				<label for="name">Item Name</label>
				<input type="text" formControlName="name" name="item-name" 
					[ngClass]="{'is-invalid': submitted && f.name.errors}" 
					class="text-input" 
				/> 

				<!-- item description -->
				<label for="description">Description</label><br>
				<textarea rows="4" formControlName="description" 
					[ngClass]="{'is-invalid': submitted && f.name.errors}">
				</textarea>
				<!-- <input type="text" formControlName -->
					

				<!-- item tags -->
				<!-- <label for="tags"></label>
				<input type="text" formControlName="tags" name="tags"> -->

				<input type="submit" value="Submit" class="submit-btn">

			</form>

		</div>
			

		<span>&nbsp;</span>
	</div>
</div>