<div class="container">
	<div class="form-column scale-fontsize">
		<span>&nbsp;</span>
		<h2 class="fade-in">{{editItem ? 'Edit' : 'Post New'}} Item</h2>

		<div *ngIf="itemForm" class="flex new-item-form">

			<!-- preview card -->
			<div class="preview-card-ctn fade-in-left delay-0-2">
				<app-item-card [item]="{
					name: f.name.value,
					description: f.description.value,
					imgSrc: imgSrc
				}" [cardOptions]="itemCardOptions"
				[owner]="currentUser"></app-item-card>
			</div>

			<form [formGroup]="itemForm" (ngSubmit)="submitItem()" class="item-form">

				<!-- item name -->
				<div class="input-wrapper fade-in-right delay-0-2">
					<label for="name">Item Name</label>
					<input type="text" formControlName="name" name="item-name" 
						[ngClass]="{'is-invalid': submitted && f.name.errors}"
						placeholder="Item name"
						class="text-input" 
					/> 
				</div>

				<!-- item description -->
				<div class="input-wrapper fade-in-right delay-0-3">
					<label for="description">Description</label><br>
					<textarea rows="4" formControlName="description" placeholder="Item description"
						[ngClass]="{'is-invalid': submitted && f.name.errors}">
					</textarea>
				</div>
					

				<!-- item tags -->
				<div class="input-wrapper fade-in-right delay-0-4">
					<label for="tags">Tags</label>
					<input type="text" formControlName="tags" name="tags" placeholder="#optional #spaceseparated" class="text-input">
				</div>
				
				<!-- item image(s) -->
				<div class="input-wrapper fade-in-right delay-0-5">
					<label class="fileContainer" title="Upload a cover image. More images can be added later.">
					{{editItem ? 'Change' : 'Add'}} photo
					<input #imageInput
						type="file"
						accept="image/*"
						(change)="processFile(imageInput)">
					</label>
				</div>

				<!-- submit button -->
				<input type="submit" value="Submit" class="submit-btn  fade-in-right delay-0-6">

			</form>

		</div>
			

		<span>&nbsp;</span>
	</div>
</div>