<!DOCTYPE html>
<html>
<head>
	<title>BorrowLand</title>
</head>
<body>
	<h1>Welcome To BorrowLand</h1>
	
	<p>
		<%= link_to '<button type="button">SignUp</button>'.html_safe, users_new_path %>
	</p>

</body>
</html>