<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" author="Sarosh">
	<title>BorrowLand</title>
</head>
<body>
	<h1>Welcome To BorrowLand</h1>
	
	<div>
		<%= link_to '<button type="button">Login</button>'.html_safe, new_user_session_path %>
		<%= link_to '<button type="button">SignUp</button>'.html_safe, new_user_registration_path %>
	</div>

</body>
</html>