<div class="item-request-card">


	<div class="item-request-body">
		<span>
			<p>
				<strong (click)="navigateToUser(req.requesting_user.id)" class="pointer">
					{{req.requesting_user.fullName || req.requesting_user.fname || 'Anon'}} 
				</strong> 
				is requesting this item.
			</p>
			<p *ngIf="req.age" class="age-string">
				<svg class="inline"><use href="assets/icons/navbar.svg#i-clock"></use></svg>&nbsp;
				{{req.age}}
			</p>
		</span>
	</div>

	<!-- controls -->
	<div class="item-request-ctrls flex">
		<!-- common controls -->
		<div *ngIf="opt.link"
			(click)="navigateToItem(req.item.id)"
			tooltip="View item" tooltip-position="bottom"
			class="gradient-0-stop-2 round white-text trans-0-25 pointer">
			<svg><use href="assets/icons/navbar.svg#i-bag"></use></svg>
		</div>

		<!-- incoming request controls -->
		<ng-container *ngIf="!(opt.outgoing) else outgoingCtrls">
			<!-- accept request -->
			<div (click)="acceptRequest(request.id)" 
				tooltip="Accept request" tooltip-position="bottom"
				class="gradient-1-stop-2 round white-text trans-0-25 pointer">
				<svg><use href="assets/icons/navbar.svg#i-checkmark"></use></svg>
			</div>

			<!-- decline request -->
			<div (click)="declineRequest(request.id)" 
				tooltip="Decline request" tooltip-position="bottom"
				class="gradient-0-stop-1 round white-text trans-0-25 pointer">
				<svg><use href="assets/icons/navbar.svg#i-close"></use></svg>
			</div>
		</ng-container>

		<!-- outgoing controls -->
		<ng-template #outgoingCtrls>
			<!-- delete request -->
			<div (click)="deleteRequest()" 
				tooltip="Delete request" tooltip-position="bottom"
				class="gradient-1-stop-1 round white-text trans-0-25 pointer">
				<svg><use href="assets/icons/navbar.svg#i-trash"></use></svg>
			</div>
		</ng-template>

	</div>
</div>