<div class="item-request-card">


	<div class="item-request-body">
		<span>
			<strong (click)="navigateToUser(req.requesting_user.id)" class="pointer">{{req.requesting_user.fullName}} </strong> 
			is requesting this item.
		</span>
	</div>

	<!-- controls -->
	<div class="item-request-ctrls flex">

		<!-- accept request -->
		<div (click)="accept"
			class="gradient-1-stop-2 round white-text trans-0-25 pointer">
			<svg><use href="assets/icons/navbar.svg#i-checkmark"></use></svg>
		</div>

		<!-- decline request -->
		<div (click)="decline"
			class="gradient-0-stop-1 round white-text trans-0-25 pointer">
			<svg><use href="assets/icons/navbar.svg#i-close"></use></svg>
		</div>

	</div>
</div>