<!-- 
	This component is the root of all components. 
	This component will contain the navbar
	services which are app-wide will be instantiated and rooted here
-->

<!-- The horizontal navbar -->
<div class="hnavbar">

	<ul>
		<!-- primary links & title (float left) -->
		<li class="vnavbar-toggle" (click)="toggleSidebar()" style="padding: 0.75em 1em; width: 1em; min-width: 1em !important;">
			<svg><use href="assets/icons/navbar.svg#i-menu"></use></svg>
		</li>
		<li class="title hide-on-mobile"><span><strong>{{title}}</strong></span></li>

		<!-- profile (float right); hide on small screens -->
		<li class="float-right hide-on-mobile">
			<span>You</span>
		</li>

		<!-- search box -->
		<li class="float-right search-li">
			<div class="searchbox-container">
				<input type="text" class="searchbox" 
				placeholder="Search for anything">
				<a class="search-btn" href="#">

				</a>
			</div>
		</li>
		
	</ul>

</div>



<!-- sidebar - only visible when it needs to be -->
<div class="sidebar" [class.sidebar-hidden]="sidebarHidden">
	<ul>

		<!-- toggle the sidebar -->
		<li (click)="toggleSidebar()" class="hide-on-large">
			<svg *ngIf="sidebarHidden"><use href="assets/icons/navbar.svg#i-menu"></use></svg>
			<svg *ngIf="!sidebarHidden"><use href="assets/icons/navbar.svg#i-close"></use></svg>
			&nbsp;
		</li>

		<!-- title; will be hidden for medium & small screens -->
		<li class="hide-on-medium">
			<span>
				<strong>{{title}}</strong>
			</span>
		</li>

		<!-- others; show only icons by default on medium screens -->
		<li routerLink="">
			<svg><use href="assets/icons/navbar.svg#i-home"></use></svg>
			<span class="">&nbsp;Home</span>&nbsp;
		</li>
		<li routerLink="you">
			<svg><use href="assets/icons/navbar.svg#i-user"></use></svg>
			<span class="">&nbsp;You</span>&nbsp;
		</li>
		<li (click)="logout()">
			<svg><use href="assets/icons/navbar.svg#i-lock"></use></svg>
			<span>&nbsp;Logout</span>
		</li>
		<li routerLink="user/1">
			<svg><use href="assets/icons/navbar.svg#i-alert"></use></svg>
			<span>&nbsp;user 1</span>
		</li>
		<li routerLink="user/69">
			<svg><use href="assets/icons/navbar.svg#i-alert"></use></svg>
			<span>&nbsp;user 69</span>
		</li>
		<li (click)="fuckMyShitUp()">
			<svg><use href="assets/icons/navbar.svg#i-photo"></use></svg>
			<span>&nbsp;??</span>
		</li>
		<li routerLink="items">
			<svg><use href="assets/icons/navbar.svg#i-compose"></use></svg>
			<span>&nbsp;New Item</span>
		</li>
		<a href="https://github.com/tsytsman/csc444">
			<li>
				<svg><use href="assets/icons/navbar.svg#i-github"></use></svg>
				<span>&nbsp;Source Code</span>
			</li>
		</a>
	</ul>
</div>



<!-- the body -->
<div class="body" [class.sidebar-collapse-pushover]="sidebarHidden" [class.sidebar-pushover]="!sidebarHidden">
	<app-alert></app-alert>
	<!-- router outlet -->
	<router-outlet></router-outlet>
</div>