/*****************************************************
**** NAVBAR
******************************************************/

.navbar {
	background: #24292e; /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* old chrome+safari */
	/* background: linear-gradient(to right, #8a2387, #e94057, #f27121); modern browsers */

	width: 100%;
	height: 3em;

	color: #fff;
	padding: 0;

	/* size of everything in navbar is relative to font size */
	font-size: 1em; /* increasing this will scale the navbar accordingly */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
	padding: 0 1.5em;
}

.navbar li {
	display: block;
	float: left;
	background-color: #24292e;
	min-width: 6em;
}
.navbar li:hover {
	background-color: #1a1e22;
}
.navbar li.float-right {
	float: right;
}

.navbar li.search-li {
	padding: 0.3em 0;
	background: none;
}
.navbar li.search-li:hover {
	background: none;
}

.navbar li span {
    display: block;
	padding: 0.75em;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	line-height: 1em;
}



/*****************************************************
**** SEARCH
******************************************************/

div.searchbox-container {
	padding: 0.4em 1em;
	border-radius: 42069px;
	background-color: rgb(255, 255, 255);
}

input.searchbox {
	width: 10em;
	background: none;
	border: none;
	transition: width 0.4s ease-in-out;
}
input.searchbox:focus {
	width: 20em;
}

div.body {
	background-color: #f8f8f8;
	min-height: 100vh;
}