<!-- 
	This component is the root of all components. 
	This component will contain the navbar
	services which are app-wide will be instantiated and rooted here
-->


<div class="body">


<!-- 
	The navbar
		needs to be simple
-->

<div class="navbar">
	<!-- navbar items -->
	<ul>
		<!-- primary links & title (float left) -->
		<li><span><strong>444chan.</strong></span></li>
		<li><span>Home</span></li>
		<li><span>Profile</span></li>

		<!-- search, profile, settings, etc. (float right) -->
		<li class="float-right">
			<span>You</span>
		</li>
		<li class="float-right search-li">
			<div class="searchbox-container">
				<input type="text" class="searchbox" 
				placeholder="Search for anything">
				<a class="search-btn" href="#">

				</a>
			</div>
		</li>
		

	</ul>
</div>



<!-- router outlet -->
<router-outlet></router-outlet>



</div>