<%= render 'items' %>
<h2>Item</h2>
<p>
  <strong>Item Name:</strong>
  <%= @item.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Posted at:<strong> 
  <%= @item.created_at %>
</p>