<div class="full-body-height">
	<div class="dashboard-body border-box scale-fontsize">


		<!-- header/greeting -->
		<div class="g-header">
			<h2 class="greeting">Hello {{currentUser.fname}}.</h2>
		</div>


		<!-- new item -->
		<div class="g-new-item grid-link grid-large gradient-0-stop-0 white-text fade-in-down" routerLink="/items">
			<div class="box-column">
				<div>&nbsp;</div>
				<svg><use href="assets/icons/navbar.svg#i-compose"></use></svg>
				<h3>Post New Item</h3>
				<div>&nbsp;</div>
			</div>
		</div>


		<!-- explore -->
		<div class="g-explore grid-link grid-large gradient-0-stop-1 white-text fade-in-down delay-0-1">
			<div class="box-column">
				<div>&nbsp;</div>
				<svg><use href="assets/icons/navbar.svg#i-eye"></use></svg>
				<h3>Explore</h3>
				<div>&nbsp;</div>
			</div>
		</div>

		
		<!-- social -->
		<div class="g-social grid-link gradient-0-stop-2 white-text fade-in-up delay-0-2" routerLink="/social">
			<div class="box-column border-box">
				<svg><use href="assets/icons/navbar.svg#i-heart"></use></svg>
				<h3>Social</h3>
			</div>
		</div>


		<!-- search -->
		<div class="g-search grid-link gradient-1-stop-0 white-text fade-in-up delay-0-3" routerLink="/search">
			<div class="box-column border-box">
				<svg><use href="assets/icons/navbar.svg#i-search"></use></svg>
				<h3>Search</h3>
			</div>
		</div>


		<!-- notifs -->
		<div class="g-notifs grid-link gradient-1-stop-1 white-text fade-in-up delay-0-4">
			<div class="box-column border-box">
				<svg><use href="assets/icons/navbar.svg#i-bell"></use></svg>
				<h3>Notifications</h3>
			</div>
		</div>


		<!-- profile -->
		<div class="g-profile grid-link gradient-1-stop-2 white-text fade-in-up delay-0-5" routerLink="/you">
			<div class="box-column border-box">
				<svg><use href="assets/icons/navbar.svg#i-user"></use></svg>
				<h3>You</h3>
			</div>
		</div>

	</div>
</div>