<div class="dashboard-body">
	
	<!-- greeting -->
	<div>
		<h2 class="greeting">Hello {{currentUser.fname}}.</h2>
	</div>

	<!-- at-a-glance widgets -->
	<div class="widget-container flex">

		<!-- loaned out -->
		<div class="widget">
			<div class="widget-title"><h3>Loaned Out</h3></div>
			<div>
				<h3>List of items</h3>
				<pre>{{itemList | json}}</pre>
			</div>
		</div>


		<!-- borrowing -->
		
		<div class="widget">
			<div class="widget-title"><h3>Borrowing</h3></div>
			
		</div>

	</div>


</div>