<div class="item-card-container" [ngClass]="{'color-white': cardOptions.colorWhite || false}">

    <!-- item image -->
    <div class="item-img-main pointer" (click)='navigateToDetails()'>
        <img *ngIf="item.imgSrc || item.image else defaultSvg" [src]="item.imgSrc || item.image" />
        <ng-template #defaultSvg>
            <svg><use href="assets/icons/navbar.svg#i-photo"></use></svg>
        </ng-template>
    </div>


    <!-- card body -->
    <div class="item-card-body">

        <!-- item name -->
        <h4 class="item-name pointer" (click)='navigateToDetails()'>
            {{item.name || 'Item Name'}}
        </h4>

        <!-- owner name; hide if  -->
        <h5 *ngIf="!cardOptions.hideOwner" class="item-user-name" [ngClass]="{'pointer': ownerId }"
            (click)="navigateToOwner()">
            <svg class="inline"><use href="assets/icons/navbar.svg#i-user"></use></svg>&nbsp;
            <ng-container *ngIf="owner else username" >{{owner['fullName']}}</ng-container>
            <ng-template #username>{{getOwnerFullName(item.user) || 'Anon'}}</ng-template>
        </h5>

        <div *ngIf="!cardOptions.hideDescription" class="item-description">
            {{item.description}}
        </div>

        <div *ngIf="!cardOptions.hideAge && item.age" class="gray-italic" style="font-size: 0.9em;">
	    	<svg class="inline"><use href="assets/icons/navbar.svg#i-clock"></use></svg>&nbsp;
            {{item.age}}
        </div>
    </div>

</div>