div.item-card-container {
    max-width: 250px;
    margin: 1em auto;
    border: 1px solid #ccc;
    height: 100%;
}

div.item-img-main {
    background-color: #ddd;
    width: inherit;
}
.item-img-main svg {
    width: 100%;
}

div.item-card-body {
    padding: 1em;
}

h4 { font-weight: 600; }


.color-white {
    color: #fff;
}
.color-white div.item-img-main{
    background: none;
    border-bottom: 1px solid #ccc;
}