<div id="PROFILE-CONTAINER" class="scale-fontsize">

	<!-- header -->
	<div class="grid-header fade-in-down">
		<h2 *ngIf="you">Your Profile</h2>
		<h2 *ngIf="!you">{{user.fullName}}'s public profile</h2>
	</div>


	<!-- profile -->
	<div class="grid-profile fade-in-left delay-0-1">
		<div style="width: 100%">
			<img class="profile" [src]="user.profileImgUrl || 'assets/img/pepe.png'">
		</div>
		<br />
		<div class="profile full-name">{{user.fname}} {{user.lname}}</div>
		<table class="profile">
			<tr *ngIf="memberSince"><td class="label">Member since</td><td class="data">{{memberSince}}</td></tr>
			<tr *ngIf="user.email"><td class="label">email</td><td class="data">{{user.email}}</td></tr>
			<tr *ngIf="user.phone"><td class="label">phone</td><td class="data">{{user.phone}}</td></tr>
			<tr *ngIf="user.address"><td class="label">address</td><td class="data">{{user.address}}</td></tr>
			<tr *ngIf="user.gender"><td class="label">gender</td><td class="data">{{user.gender}}</td></tr>
			<tr *ngIf="user.private">
				<td class="label"><svg class="inline"><use href="assets/icons/navbar.svg#i-lock"></use></svg></td>
				<td class="data">Private profile</td>
			</tr>
			<tr *ngIf="user.friend">
				<td class="label">
					<svg class="inline"><use href="assets/icons/navbar.svg#i-heart"></use></svg>
					<svg class="inline"><use href="assets/icons/navbar.svg#i-user"></use></svg>
				</td>
				<td class="data">You are friends!</td>
			</tr>
		</table>

		<!-- controls -->
		<div class="profile-ctrls flex">

			<!-- friend request -->
			<div *ngIf="!you && !youPublic && !user.friend" class="round pointer trans-0-25 white-text gradient-0-stop-0"
				tooltip="Send friend request" tooltip-position="bottom"
				(click)="requestFriend()">
				<svg><use href="assets/icons/navbar.svg#i-heart"></use></svg>
			</div>

			<!-- show these controls only if you -->
			<ng-container *ngIf="you || youPublic">
				<!-- edit profile -->
				<!-- <div class="round pointer trans-0-25 white-text gradient-1-stop-2"
					tooltip="Edit profile" tooltip-position="bottom"
					(click)="editProfile()">
					<svg><use href="assets/icons/navbar.svg#i-edit"></use></svg>
				</div> -->

				<!-- toggle profile private/public -->
				<ng-container *ngIf="user.private else userPublic">
					<div class="round pointer trans-0-25 white-text gradient-0-stop-2"
						tooltip="Make profile public" tooltip-position="bottom"
						(click)="setProfilePrivacy(false)">
						<svg><use href="assets/icons/navbar.svg#i-unlock"></use></svg>
					</div>
				</ng-container>
				<ng-template #userPublic>
					<div class="round pointer trans-0-25 white-text gradient-0-stop-1"
						tooltip="Make profile private" tooltip-position="bottom"
						(click)="setProfilePrivacy(true)">
						<svg><use href="assets/icons/navbar.svg#i-lock"></use></svg>
					</div>
				</ng-template>

			</ng-container>
		</div>


		<h5></h5>
		<hr class="divider" />
	</div>
	

	<!-- private profile banner -->
	<div class="grid-box1 fade-in delay-0-2" *ngIf="user.privilege==false">
		<h4>You do not have permission to view this user's profile</h4>
		<p>Only real friends can see this user's profile. Guess you're not one of them. #nonewfriends</p>
	</div>


	<!-- All items posted -->
	<div class="grid-box1  fade-in delay-0-2" *ngIf="user.itemsAvailable">
		<h3 class="box-title">Items Posted</h3>
		<div *ngIf="user.itemsAvailable" class="box-content flex card-carousel">
			<div *ngFor="let item of user.itemsAvailable.slice(0,defaultMaxAvailableItems)" class="item">
				<app-item-card [item]="item" [owner]="user.userIdentity"></app-item-card>
			</div>
			<p *ngIf="!user.itemsAvailable.length" class="status">No items available. Yet.</p>
		</div>
		<hr class="divider" />
	</div>



	<!-- items borrowed -->
	<div class="grid-box2 fade-in delay-0-3" *ngIf="user.itemsBorrowed">
		<h3 class="box-title">Items Borrowed</h3>
		<div class="box-content flex card-carousel">
			<div *ngFor="let item of user.itemsBorrowed" class="item">
				<app-item-card [item]="item" [owner]="item.user"></app-item-card>
			</div>
			<p *ngIf="!user.itemsBorrowed.length" class="status">No borrowed items. Yet.</p>
		</div>
		<hr class="divider" />
	</div>



	<!-- items loaned out -->
	<div class="grid-box3 fade-in delay-0-4" *ngIf="user.itemsLoaned">
		<h3 class="box-title">Items Loaned Out</h3>
		<div class="box-content flex card-carousel">
			<div *ngFor="let item of user.itemsLoaned" class="item">
				<app-item-card [item]="item" [owner]="user.userIdentity"></app-item-card>
			</div>
		</div>
		<hr class="divider" />
	</div>



	<!-- item requests -->
	<div *ngIf="you" class="grid-box4 fade-in delay-0-5">
		<h3 class="box-title">Pending Requests</h3>
		
		<!-- incoming requests -->
		<div class="incoming-requests-container fade-in delay-0-5">
			<h4>Incoming Item Requests</h4>
			<ng-container *ngIf="in && in.length else noIncoming">
				<div class="box-content flex card-carousel">
					<div *ngFor="let request of in; let i=index" class="request-card-container">
						<ng-container *ngIf="request.request_status == 'pending' || request.request_status==null">
							<app-item-request-card 
								[request]="request"
								[cardOptions]="inOpts"
								class="request-card"
								(remove)="removeIncomingRequest(i)"
								>
							</app-item-request-card>
						</ng-container>
					</div>
				</div>
			</ng-container>
			<ng-template #noIncoming>
				<p class="status">You have no incoming item requests.</p>
			</ng-template>
		</div>

		<!-- outgoing requests -->
		<div class="outgoing-requests-container fade-in delay-0-6">
			<h4>Outgoing Item Requests</h4>
			<ng-container *ngIf="out && out.length else noOutgoing">
				<div class="box-content flex card-carousel">
					<div *ngFor="let request of out; let i=index" class="request-card-container">
						<ng-container *ngIf="request.request_status == 'pending' || request.request_status==null">
							<app-item-request-card
								[request]="request"
								[cardOptions]="outOpts"
								(remove)="removeOutgoingRequest(i)"
							>
							</app-item-request-card>
						</ng-container>	
					</div>
				</div>
			</ng-container>
			<ng-template #noOutgoing>
				<p class="status">You have no pending outgoing item requests.</p>
			</ng-template>
		</div>

		<hr class="divider" />
	</div>



	
</div>