<div id="PROFILE-CONTAINER">

	<!-- header -->
	<div class="grid-header">
		<h2>{{user.fname}}'s Profile</h2>
	</div>


	<!-- profile -->
	<div class="grid-profile">
		<div style="width: 100%">
			<img class="profile" [src]="user.profileImgUrl || 'assets/img/pepe.png'">
		</div>
		<br />
		<div class="profile full-name">{{user.fname}} {{user.lname}}</div>
		<table class="profile">
			<tr *ngIf="user.created_date"><td class="label">Member since</td><td class="data">{{user.created_date.toDateString()}}</td></tr>
			<tr *ngIf="user.email"><td class="label">email</td><td class="data">{{user.email}}</td></tr>
			<tr *ngIf="user.phone"><td class="label">phone</td><td class="data">{{user.phone}}</td></tr>
			<tr *ngIf="user.address"><td class="label">address</td><td class="data">{{user.address}}</td></tr>
			<tr *ngIf="user.gender"><td class="label">gender</td><td class="data">{{user.gender}}</td></tr>
		</table>
		<button *ngIf="you">Edit Profile</button>
		<h5></h5>
		<hr class="divider" />
	</div>
	

	<!-- items available -->
	<div class="grid-box1">
		<h3 class="box-title">Items Available</h3>
		<div *ngIf="user.itemsAvailable" class="box-content flex card-carousel">
			<div *ngFor="let item of user.itemsAvailable.slice(0,defaultMaxAvailableItems); let i=index" class="item">
				<app-item-card [item]="item" [owner]="user.userIdentity"></app-item-card>
			</div>
		</div>
		<!-- <pre>{{user.items | json}}</pre> -->
		<hr class="divider" />
	</div>



	<!-- items borrowed -->
	<div class="grid-box2">
		<h3 class="box-title">Items Borrowed</h3>
		<hr class="divider" />
	</div>



	<!-- activity feed -->
	<div class="grid-box3">
		<h3 class="box-title">box3</h3>
		<hr class="divider" />
	</div>




	<div class="grid-box4">
		<h3 class="box-title">box4</h3>
		<hr class="divider" />
	</div>



	
</div>