<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<!-- Changed the link to cloud reset password page and passing the token -->
<p><%= link_to 'Change my password', 'https://sheltered-reaches-72765.herokuapp.com/app/accounts/reset?token='+(@token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
