<p>Hello <%= @resource.email %>!</p>

<p>Please use the following link to Reset Your Password.</p>

<!-- Changed the link to cloud reset password page and passing the token -->
<p><%= link_to 'Reset My Password', ENV["PRODUCTION_HOST"]+'/app/accounts/reset?token='+(@token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
