/* Responsive design */


/*****************************************************
**** FLEXBOX
******************************************************/

.flex {
	display: -webkit-flex;
	display: flex;
}

.flex-hcenter {
	/* justify-content: center; */
	align-items: center;
}