/* Responsive design */


/*****************************************************
**** FLEXBOX
******************************************************/

.flex {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.flex-hcenter {
	/* justify-content: center; */
	align-items: center;
}



/*****************************************************
**** MEDIA SCREEN SIZE QUERIES
******************************************************/

/* mobile/small screens */
@media screen and (max-width:768px) {
	.hide-on-mobile { display:none !important; }
}

/* medium size screens */
@media screen and (min-width:769px) and (max-width:1280px) {
	.hide-on-medium { display:none !important; }
	.scale-fontsize { font-size: 1.25em; }
}

/* large screens */
@media screen and (min-width:1281px) {
	.hide-on-large { display: none !important; }
	.scale-fontsize { font-size: 1.5em; }
}