/* You can add global styles to this file, and also import other style files */

/*****************************************************
**** GLOBAL
******************************************************/

body {
	/* put dat shit tight to the browser window */
	padding: 0;
	margin: 0;
	border: none;

	/* default fonts */
	font-family: "Open Sans",Helvetica, sans-serif, "Comic Sans MS";
	font-size: 14px;

	/* default colors */
	background-color: #fff;

	/* 
	the colors in the gradient are:
	#8a2387, #e94057, #f27121
	*/

}

.full-body-height {
	min-height: calc(100vh - 3em);	
}




/*****************************************************
**** HOME PAGE
******************************************************/

div.bg-card-0 {
	background: #8a2387; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #8a2387, #e94057, #f27121); /* old chrome+safari */
	background: linear-gradient(to bottom, #8a2387, #e94057, #f27121); /* modern browsers */
	/* width: 100vw;
	height: 100vh; */
	padding: 0;
	margin: 0;
	border: none;
	color: #fff;
}




/*****************************************************
**** FONTS
******************************************************/

h1 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 6em;
}
h2 {
	font-weight: 400;
	font-size: 2.5em;
	margin: 0.5em;
}





/*****************************************************
**** MISC GLOBALS
******************************************************/

svg * {
	width:  100%;
	height: 100%;
}

a {
	text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}

p.notice, p.alert {
	display: none;
}

.form-column {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	height: 100%;
	min-height: inherit;
}

.form {
	width: 256px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

button {
	background: none;
	border: 2px solid #000;	
}

.fileContainer {
    overflow: hidden;
    position: relative;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.pointer {
	cursor: pointer;
}

.pad-1em {
	padding: 1em;
}

svg.inline {
	height: 1em;
    width: 1em;
}


/*****************************************************
**** TIMED ANIMATIONS
******************************************************/

/* animation delay presets */
.delay-0-1{animation-delay:0.1s !important;}
.delay-0-2{animation-delay:0.2s !important;}
.delay-0-3{animation-delay:0.3s !important;}
.delay-0-4{animation-delay:0.4s !important;}
.delay-0-5{animation-delay:0.5s !important;}
.delay-0-6{animation-delay:0.6s !important;}
.delay-0-7{animation-delay:0.7s !important;}
.delay-0-8{animation-delay:0.8s !important;}
.delay-0-9{animation-delay:0.9s !important;}
.delay-1-0{animation-delay:1s !important;}

/* fade-in animations */
.fade-in {
	opacity:0;
	animation: fadeIn 0.5s ease-in-out forwards;
}
.fade-in-up {
	opacity:0;
	transform: translateY(30px);
	animation: fadeInY 0.5s ease-in-out forwards; 
}
.fade-in-down{
	opacity:0;
	transform: translateY(-30px);
	animation: fadeInY 0.5s ease-in-out forwards;
}
.fade-in-right {
	opacity: 0;
	transform: translateX(30px);
	animation: fadeInX 0.5s ease-in-out forwards;
}
@keyframes fadeIn { to {opacity:1}}
@keyframes fadeInY {
	to { 
		opacity:1;
		transform: translateY(0);
	}
}
@keyframes fadeInX {
	to { 
		opacity:1;
		transform: translateX(0);
	}
}

button {
	transition: all 0.25s ease-in-out;	 
}
button svg {
	height: 1em;
	width: 1em;
	stroke-width: 2;
}




/*****************************************************
**** FONTS
******************************************************/
/* open-sans-300 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		 url('assets/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('assets/fonts/open-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* open-sans-regular - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		 url('assets/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('assets/fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* open-sans-600 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		 url('assets/fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('assets/fonts/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* open-sans-700 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		 url('assets/fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('assets/fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  


/*****************************************************
**** FONTS
******************************************************/
.animated-svg {
	/* stroke-dasharray: 1000;
	stroke-dashoffset: 1000; */
	animation: dash 5s ease-in-out forwards;
}
@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}