/* You can add global styles to this file, and also import other style files */



/*****************************************************
**** GLOBAL
******************************************************/

body {
	/* put dat shit tight to the browser window */
	padding: 0;
	margin: 0;
	border: none;

	/* default fonts */
	font-family: "Open Sans",Helvetica, sans-serif, "Comic Sans MS";
	font-size: 14px;

	/* default colors */
	background-color: #fff;

	/* 
	the colors in the gradient are:
	#8a2387, #e94057, #f27121
	*/

}



/*****************************************************
**** HOME PAGE
******************************************************/

div.bg-card-0 {
	background: #8a2387; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #8a2387, #e94057, #f27121); /* old chrome+safari */
	background: linear-gradient(to bottom, #8a2387, #e94057, #f27121); /* modern browsers */
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	border: none;
	color: #fff;
}




/*****************************************************
**** FONTS
******************************************************/

h1 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 6em;
}
h2 {
	font-weight: 400;
	font-size: 2.5em;
	/* padding: 0;
	margin: 0; */
}





/*****************************************************
**** MISC GLOBALS
******************************************************/

svg * {
	width:  100%;
	height: 100%;
}

a {
	text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}

p.notice, p.alert {
	display: none;
}




/*****************************************************
**** TIMED ANIMATIONS
******************************************************/

/* animation delay presets */
.delay-0-2{animation-delay:0.2s;}
.delay-0-4{animation-delay:0.4s;}
.delay-0-6{animation-delay:0.6s;}
.delay-0-8{animation-delay:0.8s;}
.delay-1-0{animation-delay:1s;}

/* fade-in animations */
.fade-in {
	opacity:0;
	animation: fadeIn 0.5s ease-in-out forwards;
}
.fade-in-up {
	opacity:0;
	transform: translateY(30px);
	animation: fadeInY 0.5s ease-in-out forwards; 
}
.fade-in-down{
	opacity:0;
	transform: translateY(-30px);
	animation: fadeInY 0.5s ease-in-out forwards;
}
.fade-in-right {
	opacity: 0;
	transform: translateX(30px);
	animation: fadeInX 0.5s ease-in-out forwards;
}
@keyframes fadeIn { to {opacity:1}}
@keyframes fadeInY {
	to { 
		opacity:1;
		transform: translateY(0);
	}
}
@keyframes fadeInX {
	to { 
		opacity:1;
		transform: translateX(0);
	}
}