.tabs-container > .tab:hover { border-bottom: 1px solid #e94057; }
.tabs-container > .tab.tab-selected { border-bottom: 3px solid #e94057; }

.card-carousel {
    justify-content: center;
}

.profile-card-container {
    margin: 1em 0;
}

.load-button {
    /* font-size: 1.15em; */
    padding: 1.5em 1em;
    margin: 1em auto;
    color: #444;
    text-align: center;
}