<div class="friends-container">

	<!-- tabs -->
	<div class="tabs-container">
		<div *ngFor="let tab of catKeys" 
			class="tab trans-0-25" 
			(click)="changeTab(tab)"
			[ngClass]="{'tab-selected': category == tab}">
			{{catLut[tab].title}}
		</div>
	</div>

	<!-- display users -->
	<div *ngIf="users && users.length else noUsers" class="user-display">
		<div class="card-carousel flex">
			<div *ngFor="let user of users; let i=index" class="profile-card-container">
				<app-profile-card [user]="user" 
				[userControls]="userControls"
				(hideCard)="hideIndex(i)"></app-profile-card>
			</div>
		</div>
		<pre>{{users|json}}</pre>
	</div>

	<!-- no users to show -->
	<ng-template #noUsers>
		<div class="no-users">
			There's no one to show. :(
		</div>
	</ng-template>

</div>