<div class="container">

	<div class="form-column">

		<span>&nbsp;</span>

		<form class="form-box">
			<h2 class="fade-in">Login</h2>

			<span>&nbsp;</span>

			<form (ngSubmit)="submitLogin()">

				<div class="form fade-in">

					<div class="text-input fade-in-up">
						<input type="text" [(ngModel)]="username" placeholder="Email" name="username"/>
					</div>

					<div class="text-input fade-in-up delay-0-2">
						<input type="password" [(ngModel)]="password" placeholder="Password" name="password"/>
					</div>

					<!-- fake/invisible login button -->
					<input type="submit" value="Login" (click)="submitLogin()" style="display:none;"/>

				</div>
			</form>


			<!-- login button -->
			<button type="submit" class="solid transition-0-25 fade-in-up delay-0-4" (click)="submitLogin()">
				<svg *ngIf="secureProtocol"><use href="assets/icons/navbar.svg#i-lock"></use></svg>
				<svg *ngIf="!secureProtocol"><use href="assets/icons/navbar.svg#i-alert"></use></svg>
				Login
			</button>

			<hr class="fade-in delay-0-6" />

			<!-- register button -->
			<button class="small nofill transition-0-25 fade-in-up delay-0-8" (click)="routerNav('accounts/register')">Register</button>

			<!-- forgot password button -->
			<button class="small nofill transition-0-25 fade-in-up delay-0-8" (click)="routerNav('accounts/recover')">Forgot password</button>


		</form>

		<span>&nbsp;</span>

	</div>

</div>