/* define styles for the background of the login page */
div.container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	
	align-content: center;
	overflow: hidden;
}

.form-column {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	height: 100%;
	/* padding: 25vh 0; */
}

.form {
	min-height: 20vh;
	width: 256px;
	/* border: 2px solid #fff; */
	border-radius: 10px; 

	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	/* font-size: 1.5em; */
}

.labeled-input label { 
	width: 100%;
	color: #f0f0f0;
	font-size: 1.5em;
}
.labeled-input input { 
	width: 100%;
	background-color: transparent;
	height: 2em;
	padding: 1.25em 0.5em;
	margin: 0.5em 0 1em;

	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 1.5em;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.labeled-input input::placeholder {
	color: #ccc;
	opacity: 1;
}

.form button {
	padding: 0.5em 1em;
	margin: 0.25em 0;
	min-width: 8em;
	border-radius: 0.25em;
	cursor: pointer;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
}
.form button.small {
	font-size: 1em;
}
button.solid {
	border: 1px solid #fff;
	background: #fff;
	color: #e94057;
}
button.solid:hover {
	background: #fff;
}
button.nofill {
	border: 1px solid #fff;
	color: #fff;
	background: none;
	transition: all 0.25s ease-in-out;
}
button.nofill:hover {
	background: #fff;
	color: #e94057;
}


/*****************************************************
**** FONTS
******************************************************/
h2 {
	font-weight: 300;
}