<div class="container">

	<div class="form-column">

		<span>&nbsp;</span>

		<form class="form-box">
			<h2>Login</h2>

			<!-- 3rd party -->
			<span>&nbsp;</span>

			<!-- <hr /> -->

			<form (ngSubmit)="submitLogin()">

				<div class="form fade-in">

					<div class="labeled-input fade-in-up">
						<!-- <label>Username</label> -->
						<input type="text" [(ngModel)]="username" placeholder="Email" name="username"/>
					</div>

					<div class="labeled-input fade-in-up delay-0-2">
						<!-- <label>Password</label> -->
						<input type="password" [(ngModel)]="password" placeholder="Password" name="password"/>
					</div>

				</div>
			</form>


			<!-- login button -->
			<button type="submit" class="solid transition-0-25 fade-in-up delay-0-4" (click)="submitLogin()">Login</button>

			<hr />

			<!-- register button -->
			<button class="small nofill transition-0-25 fade-in-up delay-0-8" (click)="routerNav('accounts/register')">Register</button>

			<!-- forgot password button -->
			<button class="small nofill transition-0-25 fade-in-up delay-0-8" (click)="routerNav('accounts/recover')">Forgot password</button>


		</form>

		<span>&nbsp;</span>

	</div>

</div>